body {
    background-color:rgba(13, 228, 210, 0.63);
    color:rgb(47, 217, 240);
    color: rgb(3, 37, 26);
}
h1{
    color: darkslateblue
}
a:hover{
    color: rgb(120, 28, 173);
    font-size: 20px;
    font-style: italic
}

img:hover{
    width: 230px;
    height: 240px
}

*{
    margin: auto;
}

p{
    margin: 40px;
    border: 2px solid rgb(33, 155, 155);
    padding: 40px;
}

h1{
    background-color:turquoise;
    text-align: center;
}

body{
    background-color: teal;
    text-align: center;
}

#miSuperTitulo{
    font-size: 50px;
    padding: 15px;
}

.hiper{
    display: inline;
    padding: 40px;
    margin-bottom: 50px;
}

.imagenesIntro{
    width: 280px;
    display: block;
    margin-top: 50px ;
}

a:hover{
    color: rgb(66, 165, 160);
    font-size: 20px;
    font-style: italic;
}

img:hover{
    background-color: rgb(127, 255, 206);
    width: 200px;
}


.cuadro3{

    width: 10%;
    height: 10px;
    border-color: rgb(0, 255, 213) 2px;
    padding: 100px;
    background-color: rgb(109, 5, 104);

    margin: 100px;

    font-family: fantasy;
    font-size: 20px;
    position:static;
    bottom: 5px;
    right: 30px;
}
.cuadro4{

    width: 8%;
    height: 10px;
    border-color: rgb(0, 255, 213) 2px;
    padding: 180px;
    background-color: rgb(5, 109, 78);

    margin: 100px;

    font-family: fantasy;
    font-size:90%;
    position:static;
    bottom: 5px;
    right: 30px;
}