body {
    background-color:rgba(31, 191, 231, 0.63);
    color:rgb(47, 217, 240);
    color: aliceblue;
}
h1{
    color: darkslateblue
}
a:hover{
    color: antiquewhite;
    font-size: 20px;
    font-style: italic
}

img:hover{
    width: 220px;
    height: 240px
}